[project]
	description = Testing Github
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Thomas Reis (ChazzyDango)
[access "refs/for/refs/*"]
	read = group user/Thomas Reis (ChazzyDango)
	push = group user/Thomas Reis (ChazzyDango)
	label-Code-Review = -2..+2 group user/Thomas Reis (ChazzyDango)
	label-Verified = -1..+1 group user/Thomas Reis (ChazzyDango)
	rebase = group user/Thomas Reis (ChazzyDango)
	removeReviewer = group user/Thomas Reis (ChazzyDango)
	submit = group user/Thomas Reis (ChazzyDango)
[access "refs/heads/*"]
	read = group user/Thomas Reis (ChazzyDango)
	create = group user/Thomas Reis (ChazzyDango)
	push = +force group user/Thomas Reis (ChazzyDango)
	pushMerge = group user/Thomas Reis (ChazzyDango)
[access "refs/tags/*"]
	push = group user/Thomas Reis (ChazzyDango)
	push = +force group user/Thomas Reis (ChazzyDango)
